@import '../../assets/sass/global/variables.scss';
.managerPage{
    
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
    display: flex;
    flex-direction: column;
    .selections-for-manager{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $green-l; 
        position: fixed;
        z-index: 800;
        padding: 0.5rem 0rem 0.5rem 0rem;

        .btn-for-manager-sel{
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: white;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .tableMan{
        min-height: 100%;
        height: fit-content;
        padding-top: 5rem ;
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }


    

}