.car-pagins{
    height: 100%;
    width: 100%;


     .pagin-numbers-mui{
        width: 65%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        
     }
    
}