@import '../../assets/sass/global/variables.scss';
.footer {
  height: 100%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  background-color: $green-p;

    
  .rentit-logo-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-selectror{
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .btn-footer{
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: white;
    }
    
  }
}
