@import '../../assets/sass/global/variables.scss';
.updateForm{
    width:100%;
    height: 100%;
    padding-left: 5%;
     padding-top: 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

    gap: 3%;


    


    .form-name{
        font-size: 30px;
    }

    .formU{
        height: fit-content;
        width: 40%;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
         gap:30px;

         
        .line{
            display: grid;
            grid-template-columns: 30% 70%;
            justify-content: space-between;
            align-items: center;
            gap:5%;

            .inc{
                color: red;
            }

            .in{
                height: 200px;
                width:400px;
            }
            
            .fileInput::-webkit-file-upload-button {
                visibility: hidden;
              }
    
              .fileInput::file-selector-button {
                margin-right: 20px;
                border: none;
                background: $green-p;
                padding: 10px 20px;
                border-radius: 10px;
                color: #fff;
                cursor: pointer;
              }
              
              .fileInput::file-selector-button:hover {
                background-color: $green-l;
              }    
        }

    }

    .confirm-c{
        cursor: pointer;
        height: 40px;
        width:20%;
        background-color: $orange; 
        border: none; 
        border-radius: 5px;
        color: $white;
        font-weight: 700;
        font-family: Tahoma;
        margin-bottom: 50px;
    }}